""" И ПОЖАЛУЙСТА. ДАЖЕ НЕ ПРОБУЙТЕ ИСПОЛЬЗОВАТЬ КЛЮЧИ ОТСЮДА, КЛИЕНТ ИХ НЕ ПРИМЕТ И ТЕЛЕТОН ТОЖЕ"""
""" СДЕЛАЙТЕ cp tokens.py.example в tokens.py И ПОДРЕДАКТИРУЙТЕ ПОД СВОИ КЛЮЧИ """
""" СПАСИБО """
"""Получите свои API-ключи на https://my.telegram.org/apps"""

api_id = 12345
api_hash = "0123456789abcdef"
